$debian-logo-color: #2eb1d2;

header {
  width: 100%;
  height: 400px;
  background: url('../images/debian-infinite.png');
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  align-items: end;
}

.navigation-row {
  display: flex;

  a {
    text-decoration: none;
    font-size: 20px;
    color: #999;
    outline: 0;
    border-bottom: 5px solid transparent; 
    padding: 10px;
    margin: 0 10px;
    transition: border 0.3s;

    &.active {
      border-bottom-color: $debian-logo-color;
      color: white;
    }

    &:hover {
      color: white;
    }
  }
}

.logo {
  height: 47px;
  display: flex;
  align-items: center;
  margin: 0 82px 0 20px;

  img {
    height: 25px;
  }
}

